<div class="home-people">
    <h1>Jefferson Nascimento Gomes</h1>
    <h3>Full Stack Developer</h3>
    <span>
        Olá sou pré-formado em Análise e desenvolvimento de Sistemas
        e estou inserido no mercado de trabalho a 2 anos.
    </span>
</div>
<div class="home-nav">
    <ul>
        <li>Sobre</li>
        <li>Experiências</li>
        <li>Academico</li>
        <li>Habilidades</li>
        <li>Projetos</li>
    </ul>
</div>
<div class="home-pages">
    <span>LinkedIn<br></span>
    <span>GitHub<br></span>
    <span>WhatsApp<br></span>
</div>